body {
	margin: 0;
	padding: 0;
}
#pagewrap {
	width: 95%;
	max-width: 1300px;
	margin:  0 auto;
	background-color: black;
}

header {
	height: 180px;
	background-color: yellow;
}

#content {
	height: 600px;
	width: 600px;
	background-color: blue;
	float: left;
}

#sidebar {
	height: 200px;
	width: 300px;
	background-color: green;
	float: right;
}

footer {
	height: 100px;
	clear: both;
	background-color: red;
}


@media screen and (max-width: 960px) {
#pagewrap {
	width: 95%;
	background-color: pink;
}
#content {
	width: 65%;
}
#sidebar {
	width: 30%;
}
}

@media screen and (max-width: 700px) {
#pagewrap{
	width: 95%;
	background-color: orange;
}
#content {
	
	width: auto;
	float: none;
}
#sidebar {
	width: auto;
	float: none;
}

}